<style>
    #custom-widget{
        margin:20px 0px;
        display:flex;
        height:150px;
        overflow: hidden;
    }
    #custom-widget .left-box{
        flex:6;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    #custom-widget .left-box #audio{
        display:none;
    }
    #custom-widget .left-box .title-font{
        font-size:16px;
        font-weight:bold;
    }
    #custom-widget .left-box .sub-title-font{
        font-size:14px;
        margin-bottom:10px;
    }
    #custom-widget .left-box .button-wrap{
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:20px;
    }
    #custom-widget .left-box .button-wrap i{
        margin:0px 10px;
        color:#848484;
        cursor: pointer;
    }
    #custom-widget .left-box .button-wrap i:hover{
        color:black;
    }
    #custom-widget .left-box .button-wrap .ri-play-fill{
        font-size:30px;
    }
    #custom-widget .left-box .button-wrap .ri-pause-fill{
        font-size:30px;
        display:none;
    }
    #custom-widget .right-box{
        flex:4;
        transition:1s;
        opacity:0.9;
    }
    #custom-widget .right-box:hover{
        flex:4;
        transition:1s;
        opacity:1;
    }
   
</style>

<div id="custom-widget" class="card widget">
    <div class="left-box">
        <h1 class="title-font">Song Name</h1>
        <h2 class="sub-title-font">auth</h2>
        <div class="button-wrap">
            <i class="ri-skip-back-fill"></i>
            <i class="ri-play-fill"></i>
            <i class="ri-pause-fill"></i>
            <i class="ri-skip-forward-fill"></i>
        </div>
    </div>
    <div class="right-box">
        <img class="bgm-img" alt="img" style="width:100%; height:100%;">
    </div>
</div>
<script>
    var start_button = document.querySelector('.ri-play-fill');
    var stop_button = document.querySelector('.ri-pause-fill');
    var left_button = document.querySelector('.ri-skip-back-fill');
    var right_button = document.querySelector('.ri-skip-forward-fill');
    var bgmImg = document.querySelector('.bgm-img');

    var title = document.querySelector('.title-font');
    var subTitle = document.querySelector('.sub-title-font');

    //bgm count
    var count = 0;

    //bgm info
    var bgmArr = [
        {
            title:"Near",
            subTitle:"Nanase",
            img:"/images/bgm-img/bgm-img1.jpg",
            source:"/audio/Nanase_Dear.mp3"
        },
        {
            title:"SOSO",
            subTitle:"샛별",
            img:"/images/bgm-img/bgm-img2.jpg",
            source:"/audio/SOSO.mp3"
        },
        {
            title:"Join Us for a Bite",
            subTitle:"JT Music",
            img:"/images/bgm-img/bgm-img3.jpg",
            source:"/audio/Join Us for a Bite.mp3"
        }
    ];

    //오디오 객체 생성
    var audio = new Audio();
    audio.src = bgmArr[count].source;

    //브라우저 시작시 bgm 정보 생성
    bgmUpdate(count);

    //시작 버튼     
    function start(){
        start_button.style.display = "none";
        stop_button.style.display = "block";
        audio.play();
    }

    //중지 버튼
    function stop(){
        stop_button.style.display = "none";
        start_button.style.display = "block";
        audio.pause();
    }

    //다음 버튼
    function front(){
        if(count === bgmArr.length-1){
            count = 0;
            audio.src = bgmArr[count].source;
            start();
            bgmUpdate(count);
        }else{
            audio.src = bgmArr[++count].source;
            start();
            bgmUpdate(count);
        }
    }
    
    //이전 버튼
    function back(){
      if(audio.currentTime <= 3 && count > 0){
          audio.src = bgmArr[--count].source;
          start();
          bgmUpdate(count);
      }else{
        audio.currentTime = 0;
      }
    }

    //bgm객체 업데이트
    function bgmUpdate(count){
        title.innerHTML = bgmArr[count].title;
        subTitle.innerHTML = bgmArr[count].subTitle;
        bgmImg.src = bgmArr[count].img;
    }

    start_button.onclick = start;
    stop_button.onclick = stop;
    left_button.onclick = back;
    right_button.onclick = front;
</script>

