/*----------------------------------page-divide library---------------------------------------*/
.page-divide{width:100%;height:120px;overflow:hidden;}
.page-divide > svg{min-width:1000px; position: absolute;left:0px;bottom:-1px;}

/* IE10+ 에서 개별적인 설정 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .page-divide{height:200px;}
    .page-divide svg{min-width:1500px; left:0;bottom:-25px;}
}
/*---------------------------------------------------------------------------------------------*/
header .page-divide{position:absolute;left:0;bottom:0;}
header .page-divide svg{fill:#fffef7;}

.main-content .page-divide{position: absolute;left:0;bottom:0;}
.main-content .page-divide svg{fill:#ffb504;}

.sub-content .page-divide{position: absolute;left:0;bottom:0;}
.sub-content .page-divide svg{fill:#fffef7;}